<div class="outer-shell">
  <mat-toolbar color="primary" class="example-toolbar">
    Angular Forms with ngx-formly
  </mat-toolbar>

  <div class="example-sidenav-container">
    <div class="container">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <formly-form
            [model]="model"
              [fields]="fields"
              [form]="form">
        </formly-form>
      </form>
      <app-form-debug [form]="form.value" [model]="model"></app-form-debug>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
